body {
  background-image: url("assets/backimg.gif");
  background-repeat: no-repeat;
  background-color: #ffffff;
  background-attachment: fixed;
  background-repeat: repeat-y;
  background-size: 100% 100%;
  margin-top: 300px;
}
#title {
  font-size: 50px;
  font-family: serif;
  text-align: center;
  font-style: oblique;
  color: white;
}

#button1 {
  position: center;
  font-size: 25px;
  text-align: center;
  font-family: serif;
  color: white;
  border-radius: 2px;
  display: inline-block;
  padding: 10px;
  margin-left: 100px;
}

#button1:hover {
  background-color:white;
  color: black;
}

#button2 {
  position: center;
  font-size: 25px;
  text-align: center;
  font-family: serif;
  color: white;
  border-radius: 2px;
  display: inline-block;
  padding: 10px;
  margin-left: 20px;
}
#button2:hover {
  background-color:white;
  color: black;
}
#button3{
  position: center;
  font-size: 25px;
  text-align: center;
  font-family: serif;
  color: white;
  border-radius: 2px;
  display: inline-block;
  padding: 10px;
  margin-left: 20px;
}
#button3:hover{
  background-color:white;
  color: black;
}

a {
  color: white;
  text-align:center;
  text-decoration: none;
}
a:hover {
  color:black;
  background-color: white;
}
